## Day16 - Data Visualization using Matplotlib (Part1)

### Data Visualization
1. Graphical representation of information and data
2. Graph, Chart, and Map make it easier to understand the patterns in data
3. Matplotlib is a comprehensive library for creating static, animated, and interactive visualizations in Python.
4. Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics.

##### Self Learning Resource
1. Matplotlib: <a href="https://matplotlib.org/3.3.1/gallery/index.html"> Examples</a> | <a href="https://matplotlib.org/3.3.1/gallery/index.html"> Tutorials</a>
2. Seaborn: <a href="https://seaborn.pydata.org/examples/index.html"> Examples</a> | <a href="https://seaborn.pydata.org/tutorial.html"> Tutorials</a>
3. Data visualization using matplotlib, seaborn, plotly - <a href="https://www.kaggle.com/abhishekvaid19968/data-visualization-using-matplotlib-seaborn-plotly"> Click Here </a>

##  <span style='color:Red'>Import matplotlib</span>

In [ ]:
import matplotlib.pyplot as plt

## <span style='color:Blue'>1. Line plot</span>

### 1.1 Plot a line

In [ ]:
x = [0, 1, 2, 3, 4, 5, 6]
y = [i **2 for i in x ]

plt.plot(x, y)

plt.show()

##### To save plot in a file

In [ ]:
plt.savefig("testImage.jpg", dpi=300)
#plt.savefig("testImage.png", dpi=300)

### 1.2 Plot a line with details

In [ ]:
x = [5, 2, 7]
y = [2, 16, 4]

plt.plot(x, y)
#plt.plot(y,x)

plt.title('This is Title')
plt.ylabel('Y axis')
plt.xlabel('X axis')

plt.show()

### 1.3 Plot multiple lines

In [ ]:
x  = [1, 2, 3, 4, 5]
y1 = [50, 40, 70, 80, 20]
y2 = [80, 20, 20, 50, 60]
y3 = [70, 20, 60, 40, 60]
y4 = [80, 20, 20, 50, 60]

plt.plot(x, y1, 'g', label='Enfield', linewidth=2)
plt.plot(x, y2, 'c', label='Honda', linewidth=1)
plt.plot(x, y3, 'k', label='Yahama', linewidth=3)
plt.plot(x, y4, 'y', label='KTM', linewidth=2)

plt.title('Bike details in line plot')
plt.ylabel('Distance in kms')
plt.xlabel('Days')

plt.legend()           #Adding Legends

plt.show()

## <span style='color:Blue'>2. Bar plot</span>

### 2.1 Plot a bar chart

In [ ]:
x = [50, 60, 30, 70, 20]
y = ["A", "B", "C", "D", "E"]

plt.bar(y, x, color = "green")

plt.show()

### 2.2 Multiple bar plot

#### Example 1

In [ ]:
x1 = [0.25, 1.25, 2.25, 3.25, 4.25]
y1 = [50, 40, 70, 80, 20]

plt.bar(x1, y1, label="BMW", color='r')

x2 = [.75, 1.75, 2.75, 3.75, 4.75]
y2 = [80, 20, 20, 50, 60]
plt.bar(x2, y2, label="Audi", color='y')

plt.xlabel('Days')
plt.ylabel('Distance (kms)')
plt.title('Information')

plt.legend()
plt.show()

#### Example 2

In [ ]:
x1 = [0.25, 1.25, 2.25, 3.25, 4.25]
y1 = [50, 40, 70, 80, 20]
plt.bar(x1, y1, label="Enfield", width=0.5)

x2 = [0.26, 1.25, 2.25, 3.25, 4.25]
y2 = [80, 20, 20, 50, 60]
plt.bar(x2, y2, label="Honda", color='r', width=.5)

x3 = [0.31, 1.5, 2.5, 3.5, 4.5]
y3 = [70, 20, 60, 40, 60]
plt.bar(x3, y3, label="Yamaha", color='y', width=.5)

x4 = [.75, 1.75, 2.75, 3.75, 4.75]
y4 = [80, 20, 20, 50, 60]
plt.bar(x4, y4, label="KTM", color='g', width=.5)

plt.legend()
plt.xlabel('Days')
plt.ylabel('Distance (kms)')

plt.title('Bikes details in BAR PLOTTING')

plt.show()

### 2.3 Horizontal Bar Plot (barh)

In [ ]:
x = [5, 6, 3, 7, 2]
y = ["A", "B", "C", "D", "E"]

plt.barh(y, x, color ="orange")

plt.show()

## <span style='color:Blue'>3. Scatter plot</span>

### 3.1 Scatter plot

In [ ]:
x = [5, 2, 9, 4, 7]     # x-axis values 
y = [10, 5, 8, 4, 2]         # Y-axis values 

plt.scatter(x, y)         # Function to plot scatter 

plt.show()               # function to show the plot

### 3.2 Scatter plot with title, x-axis and y-axis

In [ ]:
x = [35, 20, 29, 40, 57]     # x-axis values 
y = [100, 50, 80, 40, 200]         # Y-axis values 

plt.scatter(x, y)         # Function to plot scatter 

plt.xlabel('Salary * 1000')
plt.ylabel('Age)')
plt.title('Age Vs Salary')

plt.show()               # function to show the plot

### 3.3 Multiple scatter plot

In [ ]:
x1 = [1, 1.5, 2, 2.5, 3, 3.5, 3.6]
y1 = [7.5, 8, 8.5, 9, 9.5, 10, 10.5]

x2 = [8, 8.5, 9, 9.5, 10, 10.5, 11]
y2 = [3, 3.5, 3.7, 4, 4.5, 5, 5.2]

plt.scatter(x1, y1, label='High income low saving',  color='r')
plt.scatter(x2, y2, label='Low income high savings', color='b')

plt.xlabel('Saving*100')
plt.ylabel('Income*1000')
plt.title('Scatter Plot')

plt.legend()

plt.grid()
plt.show()

## <span style='color:Blue'>4. Pie plot</span>

#### Example 1

In [ ]:
grades = 'A', 'A-', 'B', 'B-', 'C', 'E'
gradeCount = [50, 60, 140, 160, 30, 20]

plt.pie(gradeCount, labels=grades, autopct='%1.1f%%')

plt.show()

# Question: What is the output
#print(type(grades))

#### Example 2

In [ ]:
labels = 'Python', 'C++', 'Ruby', 'Java'
sizes = [215, 130, 245, 210]

colors = ['gold', 'yellowgreen', 'lightcoral', 'lightskyblue']
explode = (0.2, 0, 0, 0)  # explode 1st slice

# Plot
plt.pie(sizes, explode=explode, labels=labels, colors=colors,
        autopct='%1.1f%%', shadow=True)

plt.axis('equal')
plt.show()

#### Example 3

In [ ]:
share = [3,4,2,1]
bikes = ['Enfield','Honda','Yahama','KTM']

plt.pie(share, labels=bikes, shadow= True, explode=(0,0.1,0,0), 
        autopct='%1.1f%%')

plt.title('Bike Shares')

plt.show()

## <span style='color:Blue'>5. Matplotlib plots on NBA dataset</span>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('nba16.csv')
df.head()

### 5.1 Bar graph

In [ ]:
x = df['Age']
y = df['Salary']

plt.xlabel('Age')                                   
plt.ylabel('Salary (in millions)')
plt.title('Salary Vs Age')

plt.bar(x, y, color = "purple")

plt.show()

### 5.2 Horizontal bar graph

In [ ]:
x = df['Age']
y = df['Salary']

plt.xlabel('Age')                                   
plt.ylabel('Salary (in millions)')
plt.title('Salary Vs Age')

plt.barh(x, y, color = "green")

plt.show()

### 5.3 Scatter plot

In [ ]:
x = df['Age']
y = df['Salary']

plt.xlabel('Age')                                   
plt.ylabel('Salary (in millions)')
plt.title('Salary Vs Age')

plt.scatter(x, y, marker = "*")

# marker {'o','+','x','^','*','_'}

plt.show()

## <span style='color:Blue'>6. Plotting Mathematical Functions</span>
### 6.1 Plot sine curve
#### Example 1

In [ ]:
# Compute the x and y coordinates for points on a sine curve 
import math as m
import random as r

x = [ m.pi * i  for i in range(0, 10)]
y = [ m.sin(i) for i in x ]

plt.plot(x, y)
plt.title("sin(pi) wave form")

plt.show()

#### Example 2: Sine wave

In [ ]:
import numpy as np

# Compute the x and y coordinates for points on a sine curve 
x = np.arange(0, 4 * np.pi, 0.1) 
y = np.sin(x) 

plt.plot(x, y) 
plt.title("Sine wave form")

plt.show()

#### Example 3: Cos wave

In [ ]:
import numpy as np

# Compute the x and y coordinates for points on a sine curve 
x = np.arange(0, 4 * np.pi, 0.1) 
y = np.cos(x) 

plt.plot(x, y) 
plt.title("Cos wave form")

plt.show()

### 6.2 Subplot
#### Example 1

In [ ]:
import numpy as np

# Compute the x and y coordinates for points on sine and cosine curves 
x = np.arange(0, 5 * np.pi, 0.1) 

y_sin = np.sin(x) 
y_cos = np.cos(x)  
   
plt.plot(x, y_cos,'g--') 
plt.plot(x, y_sin,'r--') 
plt.title('Sine and Cosine')  
   
plt.show()

#### Example 2

In [ ]:
import numpy as np

x = np.arange(0, 5 * np.pi, 0.1) 

y_sin = np.sin(x) 
y_cos = np.cos(x)  
   
# Set up a subplot grid that has height 2 and width 1, and 
#     set the first such subplot as active. 
plt.subplot(2, 1, 1)
   
# Make the first plot 
plt.plot(x, y_sin,'r--') 
plt.title('Sine')  
   
# Set the second subplot as active, and make the second plot
plt.subplot(2, 1, 2) 
plt.plot(x, y_cos,'g--') 
plt.title('Cosine')  
   
plt.show()

## <span style='color:Blue'>7. Box Plot</span>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

data = [np.random.normal(0, std, 100) for std in range(1, 4)]

plt.boxplot(data) #,vert=False)
plt.show()

#data

## <span style='color:Blue'>8. Plot Time Series</span>

##### Import libraries

In [ ]:
from pandas import read_csv
from matplotlib import pyplot

##### Read Dataset

In [ ]:
series = read_csv('data16.csv', header=0, index_col=0, parse_dates=True, squeeze=True)
print(series.head())

##### Minimum Daily Temperature Line Plot

In [ ]:
series.plot()
pyplot.show()

##### Minimum Daily Temperature Dot Plot

In [ ]:
series.plot(style='k.')
pyplot.show()

##### Minimum Daily Temperature Yearly Line Plots

In [ ]:
from pandas import DataFrame
from pandas import Grouper

groups = series.groupby(Grouper(freq='A'))
years = DataFrame()
for name, group in groups:
    years[name.year] = group.values
years.plot(subplots=True, legend=False)
pyplot.show()

##### Minimum Daily Temperature Histogram Plot

In [ ]:
series.hist()
pyplot.show()

##### Minimum Daily Temperature Density Plot

In [ ]:
series.plot(kind='kde')
pyplot.show()

##### Minimum Daily Temperature Yearly Box and Whisker Plots

In [ ]:
from pandas import DataFrame
from pandas import Grouper
groups = series.groupby(Grouper(freq='A'))
years = DataFrame()
for name, group in groups:
    years[name.year] = group.values
years.boxplot()
pyplot.show()

##### Minimum Daily Temperature Yearly Heat Map Plot

In [ ]:
from pandas import Grouper
from matplotlib import pyplot
groups = series.groupby(Grouper(freq='A'))
years = DataFrame()
for name, group in groups:
    years[name.year] = group.values
years = years.T
pyplot.matshow(years, interpolation=None, aspect='auto')
pyplot.show()

##### Minimum Daily Temperature Lag Plot

In [ ]:
from pandas.plotting import lag_plot
lag_plot(series)
pyplot.show()

##### Minimum Daily Temperature Autocorrelation Plot

In [ ]:
from pandas.plotting import autocorrelation_plot
autocorrelation_plot(series)
pyplot.show()